
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Admin Giriş Paneli</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Templates/AdminLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/AdminLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-login100" style="background-image: url('/Templates/AdminLogin/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            @using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
            {
                <span class="login100-form-title p-b-37">
                    Admin Giriş Paneli
                </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
                    <input class="input100" type="text" name="Email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" type="password" name="Password" placeholder="Şifre">
                    <span class="focus-input100"></span>
                </div>
                if (ViewBag.ErrorMessage != null)
                {
                    <div class="text-center" style="margin-bottom:15px">
                        <a class="text-gray-dark">
                            @ViewBag.ErrorMessage
                        </a>
                    </div>
                }
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Giriş Yap
                    </button>
                </div>

                <div class="text-center p-t-57 p-b-20">
                    <span class="txt1">
                        Tasarlayanın Hesapları
                    </span>
                </div>

                <div class="flex-c p-b-112">
                    <a href="https://github.com/oguzhanet" class="login100-social-item">
                        <i class="fa fa-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/o%C4%9Fuzhan-cengiz-52116b155/" class="login100-social-item">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="#" class="txt2 hov1">

                    </a>
                </div>
            }
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Templates/AdminLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Templates/AdminLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/AdminLogin/js/main.js"></script>

</body>
</html>