@using MvcLibraryApp.McvWebUI.Models.Entity
@model List<Announcements>

@foreach (var item in Model)
{
    <div class="post">

        <div class="user-block">

            <img class="img-circle img-bordered-sm" src="~/Templates/AdminLTE-3.0.4/dist/img/duyuru.jpg" alt="user image">

            <span class="username">

                <a href="/Announcement/MemberDetail/@item.Id">@item.AnnouncementCategory</a>

            </span>

            <span class="description">@Convert.ToDateTime(item.Date.ToString()).ToShortDateString()</span>

        </div>

        <!-- /.user-block -->

        <p>
            @item.AnnouncementContent
        </p>

    </div>
}