@model MvcLibraryApp.McvWebUI.Models.Entity.Categories
@{
    ViewBag.Title = "GetById";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<br />

@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Id")
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-default" style="background-color:coral; color:white">Güncelle</button>
    </div>
}

