@using MvcLibraryApp.McvWebUI.Models.Entity
@model List<Categories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Kategoriler</h2>
<a href="/Category/Add/" class="btn btn-default" style="background-color:deepskyblue; color:white; margin-block-end:15px;">Yeni Kategori Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kategori Adı</th>
            <th>Silme İşlemi</th>
            <th>Güncelleme İşlemi</th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        <tbody>
            <tr>
                <th>@category.Id</th>
                <td>@category.CategoryName</td>
                <td><a href="/Category/Delete/@category.Id" class="btn btn-danger"> Sil </a></td>
                <td><a href="/Category/GetById/@category.Id" class="btn btn-warning"> Güncelle </a></td>
            </tr>
        </tbody>
    }
</table>
