@using MvcLibraryApp.McvWebUI.Models.Entity
@model PagedList.IPagedList<Employees>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Personeller</h2>
<a href="/Employee/Add/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Kategori Ekle</a>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Personel İsmi</th>
        <th>Silme İşlemi</th>
        <th>Güncelleme İşlemi</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <th>@employee.Id</th>
            <td>@employee.EmployeeName</td>
            <td><a href="/Employee/Delete/@employee.Id" class="btn btn-danger"> Sil </a></td>
            <td><a href="/Employee/GetById/@employee.Id" class="btn btn-warning"> Güncelle </a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))

